#header {
  text-align: center;
}

#title {
  text-align: center;
  padding: 20px 10px 0px 10px;
}

#currentDate {
  text-align: center;
  font-size: 30px;
  padding: 0px 10px;
}

#currentTime {
  text-align: center;
  font-size: 60px;
  padding: 10px;
  margin-bottom: 25px;
}

.wheel {
  padding: 10px 10px;
}

#submitButton {
  margin: 10px;
  margin-top: 40px;
}
